<!--<form #myForm="ngForm">-->
<!--<input type="text" [(ngModel)]="auth.login" #loginNamee="ngModel" required name="loginname" >-->
<!--<input type="password" [(ngModel)]="auth.password" #passwordNamee ="ngModel" name="passwordname">-->
<!--&lt;!&ndash;&ndash;&gt;-->
<!--  <button (click)="doLogin(myForm)" [disabled]="!myForm.valid">Login</button>-->
<!--&lt;!&ndash;  \\???&ndash;&gt;-->
<!--</form>-->

  <!--<button (click)="doLogin(loginNamee, passwordNamee)" *ngIf="loginNamee.valid">Login</button>-->
<!--<button (click)="doLogin(loginNamee, passwordNamee)" *ngIf="auth.login.valid">Login</button> ????-->

<form #Form="ngForm" (ngSubmit)="findSmth()">
  <select name="type" [(ngModel)]="type">
    <option [value]="'posts'">show all posts</option>
    <option [value]="'users'" name="userX">show all users</option>
    <option [value]="'comments'">show all comments</option>

  </select>
  <button>submit</button>
</form>


<form #Form2="ngForm" (ngSubmit)="idSmth()">
  <label>
    <select name="idForm" [(ngModel)]="idTs">

<!--      <ul> -->
<!--        <li *ngFor=" let i = index">-->
<!--          {{ i + 1 }} -->
<!--        </li>-->
<!--      </ul>-->

      <option *ngFor=" let cointID of idCounts" [value]="cointID.id">id {{cointID.id}}</option>


    </select>
  </label>
  <button>find</button>
</form>
